.menu {
    align-items: center;
    z-index: 10000;
    position: fixed;
}

#navBar {
    display: flex;
    top: 0;
    min-height: 68px;
    width: 100%;
    justify-content: center;
    transition: top 1s;
}

#navBar.scrolled-up {
    transform: translateY(-100%);
}

#sideMenu{
    display: none;
    right: 0px;
    top: 68px;
    margin: 0px;

}

#sideMenu ul{
    flex-direction: column;
}

#sideMenu ul .node{
    width: 100%;
    text-align: center;
    padding: 2px;
}

#side-title {
    flex-basis: auto;
    flex-grow: 0;
    min-width: 230px;
    text-decoration: none;

}

.menu ul {
    align-items: center;
    justify-content: center;
    display: flex;
}

#navBar ul {
    gap: 3em;
    flex-grow: 1;
}

.circle {
    border-radius: 20px;
}

#menuButton{
    border-color: transparent;
    border-radius: 10px;
    display: none;
}


@media(max-width: 1050px) and (min-width:850px){
    #side-title{
        display: none;
    }
}

@media(max-width: 850px){
 
    #navBar ul {
        display: none;
    }
   
    #navBar{
        justify-content: space-between;
    }

    #menuButton{
        display: flex;
        margin-right: 50px;
    }
    
    #sideMenu{
        display: block;
    }
}